*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
body{
    margin: 0;
    padding: 0;
    background-color: black;
    margin-top: 50px;}
.div1, .div2, .div3, .div4, .div5{
    width: 100px;
    height: 100px;
    background: red;
    margin: 30px;
    transition: 1s 0.2s;}
.div1:hover{
    width: 200px;
    background: skyblue;}
.div2:hover{
    width: 200px;
    height: 200px;
    background: lightgray;}
.div3:hover{
    width: 200px;
    height: 200px;
    background-color: lightsalmon;
    transform: rotate(350deg);}
.div4:hover{
    transform: translate(30px, 30px);
    background: cyan;}
.div5:hover{
    /* Cria o efeito de diminuição no elemento */
    transform: scale(50%); 
    background-color: blueviolet; }