*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;}
.box{
    border: blue solid 2px;
    margin: 10px;
    border-radius: 10px;
    background-color: lightgray;
    padding: 20px;}