*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    color: white; }
.inputN{
    height: 30px;
    width: 200px; 
    padding: 10px; }
.Operacoes{
    border-radius: 10px;
    padding: 5px;
    background-color: purple;
    color: white;}
.t1{
    font-size: 20px; }