*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black; }
.container{
    width: 1000px;
    height: 500px;
    border: solid red 2px;
    margin: 0 auto; }
.quadrado{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
    animation: teste 10s infinite linear;}

@keyframes teste {
    0%{
        transform: translateX(0); }
    25%{
        transform: translateX(900px);
        background-color: rgb(0, 255, 17); }
    50%{
        transform: translate(900px, 400px) rotate(180deg); }
    75%{
        transform: translate(0px, 400px) rotate(180deg); }
    100%{
        transform: translate(0px, 0px); } }